
mainmenu "Display Node Configuration"

if WIFI
config WIFI_SSID
	string "WIFI SSID - Network name"
	help
       SSID of Wifi network to connect to.
config WIFI_PSK
	string "WIFI PSK - Network password key"
	help
       Password for Wifi network to connect to.
endif

config MQTT_BROKER_ADDRESS
    string "IPv4 address for MQTT broker"
    help
       IPv4 address for MQTT broker

config MQTT_CLIENT_ID
    string "MQTT client ID"
    help
       Name of MQTT client.

source "Kconfig.zephyr"
